.flex-break {
    width: 100%;
}

.flex-with-wrap {
    display: flex;
    flex-flow: row wrap;
}

.home-forms {
    justify-content: center;
}

.customer-login-form {
    background-color: #f6f6f6;
    max-width: 400px;
    padding: 20px;
}

.staff-login-form {
    background-color: #f6f6f6;
    max-width: 350px;
    padding: 20px;
    margin-left: 10px;
}

.staff-button {
    font-size: 24px;
}

.customer-info {
    background-color: #f6f6f6;
    max-width: 400px;
    padding: 20px;
}

.services-for-customer {
    max-width: 450px;
    padding: 20px;
    background-color: #e1f6ef;
}

.request-service-button {
    margin-left: auto;
}