<!doctype html>
<html lang="en">
<head>
  {% include 'RoomService/style-import.html' %}
  <title>Room Service | Customer</title>
</head>
<body>
{% include 'RoomService/navbar.html' %}

<div class="container flex-with-wrap mt-5">
  <h1 class="mb-4">Welcome, {{ customer.name }}!</h1>
  <div class="flex-break"></div>
  <div class="w-100 mt-3 ml-lg-3 customer-info">
    <h2>Your Personal Details</h2>
    <h5>Name: <b>{{ customer.name }}</b></h5>
    <h5>Address: <b>{{ customer.address }}</b></h5>
    <h5>Country: <b>{{ customer.country }}</b></h5>
    <h5>Contact Number: <b>{{ customer.contact_number }}</b></h5>
    <h5>Email: <b>{{ customer.email }}</b></h5>

    <a href="{% url 'customer-update' customer.id %}" class="btn btn-primary">Edit</a>
  </div>

  <div class="w-100 mt-3 ml-lg-3 flex-with-wrap services-for-customer">
    <h2 class="w-100">Previous Services</h2>
    {% if services_for_customer %}
      <ul>
        {% for service in services_for_customer %}
          <li><a href="{% url 'service-detail' service.id %}">{{ service }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <h6>No services requested yet.</h6>
    {% endif %}
    <div class="flex-break"></div>
    <a class="btn btn-primary request-service-button"
       href="{% url 'request-service' customer.id %}">
      Request a Service
    </a>
  </div>
</div>
</body>
</html>