<!doctype html>
<html lang="en">
<head>
  {% include 'RoomService/style-import.html' %}
  <title>Room Service</title>
</head>
<body>
{% include 'RoomService/navbar.html' %}

<div class="container mt-5">
  <div class="text-center">
    <h1>Room Service</h1>
    <p class="lead">Welcome to our room service app.</p>
    <hr class="my-4">
  </div>

  <div class="flex-with-wrap home-forms">
    <div class="w-100 flex-with-wrap customer-login-form">
      <h3>Customer Login</h3>
      <div class="flex-break"></div>
      {% if customer_list %}
        <ul>
          {% for customer in customer_list %}
            <li><a href="{% url 'customer-dashboard' customer.id %}">{{ customer.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="w-100 flex-with-wrap staff-login-form">
      <a class="btn btn-primary btn-block staff-button" href="/admin">
        Staff Page
      </a>
    </div>
  </div>
</div>
</body>
</html>